<%= form_with(model: @shop, local: true ,url: choose_new_or_edit) do |form| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= @shop.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
    <%= form.label :name %>
    <%= form.text_field :name %>
  <br>
  <br>
    <%= form.label :category %>
    <%= form.text_field :category%>
  <br>  
  <br>
  <%= form.label :station %>
  <%= form.text_field :station%>
  <br>
  <br>
  <%= form.label :phone_number %>
  <%= form.text_field :phone_number%>
  <br>
  <br>
  <%= form.label :adress %>
  <%= form.text_field :adress %>
  <br>
  <br>
  <%= form.label :payment %>
  <%= form.text_field :payment %>
  <br>
  <br>
    <%= form.label :impression %>
    <%= form.text_field :impression %>
  <br>
  <br>
    <%= form.label :image %>
    <%= image_tag(@shop.image.url) if @shop.image.url %>
    <%= form.file_field :image %>
  <br>
  <br>  
  <%= form.submit %>
<% end %>
<br>
<%= link_to "ショップ一覧画面にもどる",shops_path %>