<%= form_with(model: @shop, local: true ,url: choose_new_or_edit) do |form| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= @shop.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
    <%= form.label :店名 %>
    <%= form.text_field :name %>
  <br>
  <br>
    <%= form.label :ジャンル %>
    <%= form.text_field :category%>
  <br>  
  <br>
  <%= form.label :最寄駅 %>
  <%= form.text_field :station%>
  <br>
  <br>
  <%= form.label :電話番号 %>
  <%= form.text_field :phone_number%>
  <br>
  <br>
  <%= form.label :住所 %>
  <%= form.text_field :adress %>
  <br>
  <br>
  <%= form.label :予算 %>
  <%= form.text_field :payment %>円
  <br>
  <br>
    <%= form.label :レビュー %>
    <%= form.text_field :impression %>
  <br>
  <br>
    <%= form.label :画像 %>
    <%= image_tag(@shop.image.url) if @shop.image.url %>
    <%= form.file_field :image %>
  <br>
  <br>  
  <%= form.submit %>
<% end %>
<br>
<%= link_to "ショップ一覧画面にもどる",shops_path %>