<h1>ショップ一覧</h1>

<p><%#= notice %></p>

<%= form_tag shops_path, :method => 'get' do %>
  <p>最寄駅で検索</p>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "検索", :name => nil %>
  </p>
<% end %>
<br>
<%= form_with(model: Shop.new, local: true, method: :get, url: shops_path) do |f| %>
  <%= f.label :category, "カテゴリーで検索" %>
  <%= f.select :category,[['洋食','洋食'],['和食','和食'],['中華','中華'],['多国籍料理','多国籍料理'],['スイーツ','スイーツ'],['その他','その他']] %>
  <%= f.hidden_field :search_category, value: 'true'%>

  <%= f.submit "検索" %>
<% end %>
<br>
<%= link_to '予算の低い順に並び替え', shops_path(low: 'true') %>
<%= link_to '予算の高い順に並び替え', shops_path(high: 'true') %>
<br>

<table>
  <tr>
    <th>店名</th>
    <th>カテゴリー</th>
    <th>最寄駅</th>
    <th>予算</th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= shop.name %></td>
    <td><%= shop.category%></td>
    <td><%= shop.station %></td>
    <td><%= shop.payment %>円</td>

    <td><%= link_to '詳細', shop_path(shop.id) %></td>
    <td><%= link_to '編集', edit_shop_path(shop.id) %></td>
    <td><%= link_to '削除', shop_path(shop.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<br>
<%= link_to '新しいお店を投稿する', new_shop_path %>
<%= paginate @shops %>