<h1>ショップ詳細画面</h1>
<p>店名: <%= @shop.name %></p>
<p>カテゴリー: <%= @shop.category %></p>
<p>最寄駅: <%= @shop.station %></p>
<p>電話番号: <%= @shop.phone_number %></p>
<p>住所: <%= @shop.adress %>
<p>お会計: <%= @shop.payment %>
<p>感想: <%= @shop.impression %></p>
<% if @shop.image.present? %>
<p>
  <strong>写真:</strong>
  <%= image_tag @shop.image.url %>
</p>
<% end %>
<p>コメント一覧</p>
<div id="comments_area">
<!-- 投稿されたコメント一覧をショップの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/index', locals: { comments: @comments, shop: @shop } %>
</div>

<!-- コメント入力欄をショップの詳細ページに表示するためのrender -->
<%= render partial: 'comments/form', locals: { comment: @comment, shop: @shop } %>

<% unless @shop.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(shop_id: @shop.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>