<div class="wapper">
<div class="container" >
<div class="login">
<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<br><br><br>
<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>
  <br><br><br>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <br><br><br> 
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  <br><br><br>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
  <br><br>
<% end %>

</div>
</div>
</div>
