<!DOCTYPE html>
<html>
  <head>
    <title>Takeout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="wapper">
      <header>
        <ul>
          <% if user_signed_in? %>
            <li><a href="#"><%= link_to "＊お店一覧、投稿", shops_path %></a></li>
            <li><a href="#"><%= link_to '＊あなたの気になる一覧', favorites_path %></a></li>
            <li><a href="#"><%= link_to "＊ログアウト", destroy_user_session_path, method: :delete %></a></li>
          <% else %>
            <li><a href="#"><%= link_to "＊新規登録", new_user_registration_path %></a></li>
            <li><a href="#"><%= link_to "＊ログイン", new_user_session_path %></a></li>
          <% end %>

          <% if notice %>
            <p class="alert alert-notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-error"><%= alert %></p>
          <% end %>     
        </ul>  
      </header>
          <%= yield %>
      <footer>
      <br><br>
        Copyright © 2018 TokyoTakeOut INC All RIGHTS RESERVED.
      </footer> 
    </div>
    </body>
</html>
